body{
    background-color: #f3f2ef;
}
/* ????? */
.navbar-border-bottom{
    border-bottom: black;

}

.form-control{
    background-color:#eef3f8;
    border: none;
}

.form-control:focus{
    background-color:#eef3f8;
    /* border: 2px solid black; */
    border-left: none;
    box-shadow: none;
    width: 20em;
}

.badge{
    background-color: #CC1016;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #FFFF;
    padding: auto;

}

.post-form{
    background-color:#ffffff;
    border: 1px solid #d1d1d1;
    height: 48px;
    width: 458px;
}

.post-form:focus{
    background-color:#ffffff;
    border: 1px solid #d1d1d1;
    height: 48px;
    width: 458px;
    outline: none !important;

}

#border-button:focus{
    outline: none !important;
}


span>button:hover{
    background-color: #dedbdb;
}

span>button:focus{
    outline: none !important; 
    box-shadow: none !important;
}

ul>li>a {
    color: rgb(159, 154, 154);
    padding: 7px;
    font-size: 12px;
}
