.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

.content {
  position: absolute;
  top: 0;
  left: 400px;
}


